django
python-decouple
psycopg2
requests
pillow
djangorestframework
markdown
django-filter
ptvsd==4.3.2
uvicorn
channels
r-django-jet
djangorestframework-jwt
django-import-export
django-filter
django-3-jet